<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--    <link th:rel="stylesheet" th:href="@{5.0/dist/css/bootstrap.min.css}">-->
</head>
<body>


<p class="bg-dark" th:text="'Hello, world '" ></p>
<!--<div class="bg-dark">-->
<!--    <div class="bg-success">"Hello World!"</div>-->
<!--    How ot be using a custom css file in your webpage and you dont know that ?-->
<!--</div>-->
<!--<script th:src="@{5.0/dist/js/bootstrap.bundle.min.js}"></script>-->
<!--<script th:src="@{cdn.jsdelivr.net/npm/popperjs/core2.9.1/dist/umd/popper.min.js}"></script>-->
<!--<script th:src="@{jquery.min.js}"></script>-->
</body>
</html>